HOST=0.0.0.0
PORT=1337
APP_KEYS=replace
API_TOKEN_SALT=replace
ADMIN_JWT_SECRET=replace
TRANSFER_TOKEN_SALT=replace

DATABASE_CLIENT=postgres
DATABASE_HOST=/cloudsql/lucid-arch-451211-b0:us-west1:cloud-sql-server
DATABASE_PORT=5432
DATABASE_NAME=langgo-en-dev2
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=replace
DATABASE_SSL=false
DATABASE_SCHEMA=public
JWT_SECRET=replace
GOOGLE_TRANSLATE_API_KEY=replace
GOOGLE_PROJECT_ID=lucid-arch-451211-b0

OPENAI_API_KEY=replace
SUBSCRIPTION_SERVICE_SECRET=replace
SUBSYS_BASE_URL=http://127.0.0.1:2338
PGPASSWORD=replace

RANK_SERVER_BASE_URL=http://127.0.0.1:8080
RANK_SERVER_INTERNAL_KEY=replace
ACHIEVEMENT_SERVER_BASE_URL=http://127.0.0.1:8081
ACHIEVEMENT_SERVER_INTERNAL_KEY=replace
SUBSYSTEM_PROXY_TIMEOUT_MS=10000
EVENT_BUS_DRIVER=postgres
EVENT_BUS_POSTGRES_URL=postgresql://strapi:replace@/langgo-en-dev2?host=%2Fcloudsql%2Flucid-arch-451211-b0%3Aus-west1%3Acloud-sql-server&port=5432
EVENT_BUS_CHANNEL_PREFIX=event_bus

WORDS_PER_VOCAPAGE=30
LANGGO_STRAPI4_VERSION=1.0.0
TARGET_LOCALE=en

NODE_ENV=development
REVIEWLOG_EVENTS_TOPIC=pointserver-reviewlogs
